/* LOGIN CSS */
.form {
	width: 420px;
	height: 270px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid black;
}

p {
	text-align: center;
}
form {
	width: 420px;
	
}

label {
	display: inline-block;
	text-align: right;
	margin-left: 40px;
	margin-top: 10px;
	margin-right: 20px;
	width: 140px;
}

.text {
	border-radius: 8px;
}

/* submit button center */
#button {
	text-align: center;
}
input.button {
	display: inline-block;
}

input {
	text-align: center;
}

.forgotLink {
	text-align: center;
}
